extends layout

block content
    .container
        .title-tile
            h1 Admin section
        .content-tile
            .inner
                h2 Import opportunities
                form(action='/import-opportunities' method='POST' enctype='multipart/form-data' class='admin import-opportunities')
                    input(type='file' required name='file' id='file' onchange='showFileInput(this, event)')
                    label(for='file')
                        i(class='fal fa-file-plus')
                    #output-upload
                    button(type='submit') Upload file 
                h2.margin All Active Users
                each user in users
                    .user-container
                        .input-container
                            label(for='id' ) ID
                            input(type='text' name='id' value=user._id disabled)
                        .input-container
                            label(for='name') Naam
                            input(type='text' name='name' value=user.name disabled)
                        .input-container
                            label(for='email') E-mail
                            input(type='email' name='email' value=user.email disabled)
                        a(class='btn deleteOpps' data-userid=user._id) Delete all opportunities
                        

                
