extends layout

block content
    .container
        .title-tile
            h1 Create PriceCast Contract
        .content-tile
            .inner#createpcf
                form(id='firstform' method="POST")
                    h2 Debiteur
                    .input-container
                        input(type='text' name='company' id='company' required)
                        label(for='company') Bedrijfsnaam
                        i(class='fal fa-building')
                    .input-container
                        input(type='text'  name='street'  id='street' required)
                        label(for='street') Straatnaam
                        i(class='fal fa-road')
                    .input-container
                        input(type='text'  name='zippcode'  id='zippcode' required)
                        label(for='zippcode') Postcode
                    .input-container
                        input(type='text'  name='city'  id='city' required)
                        label(for='city') Plaatsnaam
                    .input-container
                        input(type='text'  name='country'  id='country' required)
                        label(for='country') Land
                    h2 Dates
                    .input-container
                        select(name='contract_duration' id='contract_duration')    
                            option(value="12") 12 maanden
                            option(value="24") 24 maanden
                            option(value="36") 36 maanden
                        label(for='contract_duration' class='moved') Duur contract
                    .input-container
                        input(type='date' name='starting_date' id='starting_date' required value='2019-01-01')    
                        label(for='starting_date' class='fixed') Startdatum
                    h2 Locaties
                    table
                        thead
                            tr
                                th Name
                                th Hard.
                                th Fee
                                th
                                    a(class="btn" id='createNewRow')
                                        i(class="fas fa-plus")

                        tbody
                            
                    h2 Opties
                    .input-container
                        input(type='checkbox' name='send_by_email' id='send_by_email')
                        label(for='send_by_email') Verstuur per email
                    #send_to_email_container
                        .input-container
                            input(type='email' name='send_to_email' id='send_to_email')
                            label(for='send_to_email') E-mail adres 
                        .input-container
                            input(type='text' name='send_to_name' id='send_to_name')
                            label(for='send_to_name' class='fixed') T.a.v. 

                    button(type='submit') Genereer contract  