extends layout

block content
    .container
        .title-tile
            h1 Create Opportunity
        .content-tile
            .inner
                form(action='/opportunity' method="POST")
                    .input-container
                        label(for='account_name' ) Account Naam
                        input(type='text' name='account_name' id='account_name' required)
                    .input-container
                        label(for='name') Kans beschrijving (naam)
                        input(type='text'  name='name'  id='name' required)
                    label(for="category") Categorie
                    .input-group
                        .input-container
                            input(type='radio' id='category_beveiliging_e' class='category' name='category' value='Beveiliging E' checked)
                            label(for='category_beveiliging_e') Beveiliging E 
                        .input-container
                            input(type='radio' id='category_beveiliging_n' class='category' name='category' value='Beveiliging N')
                            label(for='category_beveiliging_n') Beveiliging N
                        .input-container
                            input(type='radio' id='category_diensten' class='category' name='category' value='Diensten')
                            label(for='category_diensten') Diensten  
                        .input-container
                            input(type='radio' id='category_carwash' class='category' name='category' value='Carwash')
                            label(for='category_carwash') Carwash 
                        .input-container
                            input(type='radio' id='category_jst' class='category' name='category' value='JST')
                            label(for='category_jst') JST
                        .input-container
                            input(type='radio' id='category_pcf_e' class='category' name='category' value='PriceCast E')
                            label(for='category_pcf_e') PriceCast E 
                        .input-container
                            input(type='radio' id='category_pcf_n' class='category' name='category' value='PriceCast N')
                            label(for='category_pcf_n') PriceCast N
                    .input-container
                        label(for='amount') Bedrag
                        input(type='number' name='amount' id='amount' required)
                    .input-container
                        label(for='scotsman') Kans
                        input(type='number' name='scotsman' id='scotsman' required)
                    .input-container
                        label(for='timing') Datum
                        input(type='date' name='timing' id='timing' required)
                    .input-container
                        label(for='status') Status
                        input(type='text' name='status' id='status' required)
                    button(type='submit') Maak nieuwe
