doctype html
html
  head
    title= `Drawing`
    link(rel='stylesheet', href='css/fontawesome-all.css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='https://font.googleapis.com/css?family=ABeeZee')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      nav
        .left-navbar
          a(href='/')
            img(src='img/logo.png')
        if user
          .right-navbar
            a(href='/logout')
              i(class="fal fa-sign-out-alt")
    .wrapper
        block content
        
    block scripts
        script(src="js/main.js")
                    
                    

