extends layout

block content
    .login-header
        img(src='img/logo-eye-opening.jpg')
    .login-arrow
        .login-arrow-text
            h1 Sales Applicatie
        .login-arrow-right
    .login-field
        form(action="/login" method="POST")
            .input-email
                input(type='email'  name='email'  id='email' required onblur='movelabel(this)')
                label(for='email') Email adres
                i(class='fal fa-envelope-square')
            .input-password
                input(type='password' name='password' id='password' required)
                label(for='password') Wachtwoord
                i(class="fal fa-unlock")
            input(type='submit' value='Login')