extends layout

include mixins/_opportunityCard

block content
    .container
        .title-tile
            h1 Your opportunities
        .content-tile
            .inner
                each account in oppsByAccount
                    .account-container
                        p.account_name #{account._id}
                        span.count #{account.count}
                        - var defaultObj = {name: 'Naam', amount: 'Bedrag', scotsman: 'Kans', weighted_amount: 'Gewogen', timing: 'Q'}
                        +opportunityCard(defaultObj)
                        each opp in account.opp
                            +opportunityCard(opp)
                    
                    