extends layout

include mixins/_opportunityCard

block content
    .container
        .title-tile
            h1 Your opportunities
        .content-tile#opportunities
            .input-group
                input(type='text' id='searchInput' placeholder='Zoek je opportunity')
            .inner
                each account in oppsByAccount
                    .account-container(data-count=account.count)
                        p.account_name #{account._id}
                        span.count #{account.count}
                        .opp-container#title
                            p.name Naam
                            p.amount Bedrag
                            p.scotsman Kans
                            p.weighted_amount Gewogen
                            p.month Q
                        each opp in account.opp
                            +opportunityCard(opp)
        a.btn.float(href='/opportunity')
            i(class="fas fa-plus")
                    