extends layout

block content
    .container
        .title-tile
            h1 Registreer nieuw gebruiker
        .content-tile
            .inner 
                form(action="/register" method="POST")
                    .input-container
                        label(for='name') Naam
                        input(type='text' name='name' id='name' required)
                    .input-container
                        label(for='email') Email adres
                        input(type='email'  name='email'  id='email' required onblur='movelabel(this)')
                    .input-container
                        label(for='password') Wachtwoord
                        input(type='password' name='password' id='password' required)
                    .input-container.checkbox
                        input(type='checkbox' name='admin' id='admin' value='true')
                        label(for='admin') Admin
                    input(type='submit' value='Registreer')