extends layout

block content
    .container
        .title-tile
            h1 Registreer nieuw gebruiker
        .content-tile
            .inner 
                form(action="/register" method="POST")
                    .input-group
                        input(type='text' name='name' id='name' required)
                        label(for='name') Naam
                        i(class='fal fa-user-circle')
                    .input-group
                        input(type='email'  name='email'  id='email' required onblur='movelabel(this)')
                        label(for='email') Email adres
                        i(class='fal fa-envelope-square')
                    .input-group
                        input(type='password' name='password' id='password' required)
                        label(for='password') Wachtwoord
                        i(class="fal fa-unlock")
                    .input-group.checkbox
                        label(for='admin') Admin
                        input(type='checkbox' name='admin' id='admin' value='true')
                        i(class="fal fa-cogs")
                    input(type='submit' value='Registreer')