a {
  text-decoration: none;
  color: #002f49; }

.icon {
  color: #002f49;
  font-size: 2.5em; }

.icon-outline {
  color: #A9B7C0;
  font-size: 2.5em; }
  .icon-outline:hover {
    color: #002f49; }

input,
textarea {
  width: 100%;
  color: #002f49; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: transparent !important;
  -webkit-text-fill-color: #002f49;
  -webkit-box-shadow: 0 0 0px 1000px #edeff1 inset !important;
  box-shadow: 0 0 0px 1000px #edeff1 inset !important; }

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  outline: none;
  border: none;
  background: inherit;
  border-bottom: 1px solid #002f49;
  line-height: 1.5rem;
  padding: 10px 0 10px 0px;
  font-size: 0.9rem; }

input[type="file"] {
  display: none; }

labe[for='file'] {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px; }

input[type="submit"],
button.step {
  text-align: center;
  background-color: #fc3;
  color: #002f49;
  cursor: pointer;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #dfb432;
  padding: 8px 15px;
  margin-top: 2rem;
  line-height: 1.5rem; }

input[type="submit"]:hover {
  outline: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

input[type="submit"]:active {
  outline: 0;
  box-shadow: 0 1px #dfb432; }

textarea {
  border: 1px dashed #002f49;
  margin-top: 10px;
  overflow: auto;
  resize: vertical; }

textarea#msg {
  height: 140px; }

/* Transition styling of labels*/
input[type="email"]:focus ~ label,
input[type="email"]:valid ~ label,
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label,
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
.input-has-value ~ label {
  top: -10px;
  color: #002f49;
  font-size: 0.8rem; }

label {
  display: block;
  position: absolute;
  top: 15px;
  cursor: text;
  transition: top 0.5s;
  text-transform: uppercase;
  color: #8b9ba8; }

label[for="file"] {
  transform: none;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #002f49;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 0; }

label[for="file"] i {
  font-size: 1.5rem; }

#output-upload img {
  width: 80%; }

#output-upload .remove-picture {
  display: absolute;
  top: 40%;
  left: 35%;
  font-size: 3rem;
  cursor: pointer; }

#output-upload .remove-picture:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s; }

button.step {
  width: 100px;
  height: 100px;
  margin-right: 30px; }

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 2px solid #fc3;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 1px #d2d2d2;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 0 5px; }
  header .left-navbar {
    height: 40px; }
    header .left-navbar img {
      width: 50px; }
  header a {
    color: #002f49; }

.body-left {
  position: absolute;
  right: 40%;
  transition: 0.5s; }
  .body-left .collapse-navbar {
    display: block; }

.collapse-navbar {
  display: none;
  position: absolute;
  width: 40%;
  top: 0;
  right: -40%; }
  .collapse-navbar .menu-item {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    padding-right: 0px;
    border-top: 0;
    margin-top: 0;
    -webkit-box-shadow: inset 3px 0px 10px -5px #888888;
    box-shadow: inset 3px 0px 10px -5px #888888; }
    .collapse-navbar .menu-item-icon {
      width: 50px;
      margin-right: 20px; }
    .collapse-navbar .menu-item:hover {
      background-color: #DEE2E5;
      cursor: pointer; }
    .collapse-navbar .menu-item:hover a i, .collapse-navbar .menu-item:hover a p {
      color: #002f49; }
  .collapse-navbar a {
    display: flex;
    margin-left: 20px;
    align-items: center; }
    .collapse-navbar a i {
      margin-right: 20px; }
    .collapse-navbar a p {
      display: inline-block;
      text-transform: uppercase;
      color: #A9B7C0;
      font-size: 11px;
      font-weight: 400;
      margin: 0; }

* {
  font-family: "ABeeZee", sans-serif;
  box-sizing: border-box; }

.wrapper {
  min-height: 100vh;
  width: 100vw; }

.wrapper.fixed {
  height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.title-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100px;
  border-radius: 0 0 0 0;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 1px #d2d2d2;
  background: #fafafa;
  color: #002f49;
  width: 100%; }

.content-tile {
  width: 100%;
  border-radius: 0 0 0 0;
  background: #edeff1;
  padding: 40px;
  position: relative;
  height: 80%; }

.content-tile {
  color: white; }

h1 {
  margin: 0;
  color: #002f49; }

form > div {
  margin-bottom: 1.8rem;
  position: relative;
  overflow: visible; }

form > div i {
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  left: -35px;
  color: #002f49; }

.login-header {
  color: #002f49;
  font-size: 17px;
  font-weight: 300;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%; }
  .login-header img {
    height: 65%;
    vertical-align: middle;
    position: relative;
    z-index: 2; }

.login-arrow {
  background-color: #fc3;
  width: 70%;
  height: 110px;
  position: relative;
  margin-top: -70px;
  z-index: 101; }
  .login-arrow-text {
    text-align: right;
    position: relative;
    color: #002744;
    margin-top: 15px;
    height: 100%;
    line-height: 225%;
    display: flex;
    align-items: center; }
    .login-arrow-text h1 {
      font-size: 8vmin;
      font-weight: 200;
      margin-left: 7px; }
  .login-arrow-right {
    width: 0;
    height: 0;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid #fc3;
    position: absolute;
    top: 0;
    left: 100%; }

.login-field {
  height: 70%;
  width: 100%;
  background-color: #edeff1;
  padding: 40px; }
  .login-field form {
    width: 100%; }

.wrapper.fixed .login-field {
  margin-top: -55px;
  padding-top: 100px; }

section {
  display: none; }

section.active {
  display: block; }

#pcf-1,
#pcf-2,
#pcf-margin,
#pcf-volume {
  margin-top: 30px; }

.back-arrow {
  position: absolute;
  top: 20px; }
  .back-arrow i {
    font-size: 2em;
    color: #002f49;
    cursor: pointer;
    display: none; }

/*# sourceMappingURL=style.css.map */
