a {
  text-decoration: none;
  color: #002f49; }

.icon {
  color: #002f49;
  font-size: 2.5em; }

.icon-outline {
  color: #A9B7C0;
  font-size: 2.5em; }
  .icon-outline:hover {
    color: #002f49; }

.btn {
  text-align: center;
  background-color: #fc3;
  color: #002f49;
  cursor: pointer;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #dfb432;
  padding: 8px 15px;
  margin-top: 2rem;
  line-height: 1.5rem; }
  .btn.order {
    background: rgba(81, 163, 81, 0.95);
    border: none;
    cursor: auto; }
    .btn.order:hover {
      box-shadow: none; }
    .btn.order i {
      color: white; }
  .btn.float {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002f49; }
  @media only screen and (min-width: 768px) {
    .btn {
      width: 60%; } }
  .btn:hover {
    outline: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .btn:active {
    outline: 0;
    box-shadow: 0 1px #dfb432; }

.input-container {
  margin-bottom: 1.8rem;
  position: relative;
  overflow: visible; }
  .input-container i {
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    left: -35px;
    color: #002f49; }

input,
textarea {
  width: 100%;
  color: #002f49; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: transparent !important;
  -webkit-text-fill-color: #002f49;
  -webkit-box-shadow: 0 0 0px 1000px #edeff1 inset !important;
  box-shadow: 0 0 0px 1000px #edeff1 inset !important; }

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  outline: none;
  border: none;
  background: inherit;
  border-bottom: 1px solid #002f49;
  line-height: 1.5rem;
  padding: 10px 0 10px 0px;
  font-size: 0.9rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

input[type="checkbox"] {
  background-color: #f1f1f1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 20px;
  margin-left: 6px;
  border: 1px solid; }

input[type=checkbox]:checked {
  background: url(../img/check_icon.png) center #ffcc33 no-repeat;
  background-size: 10px 10px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[type="file"] {
  display: none; }

labe[for='file'] {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px; }

input[type="submit"],
button[type="submit"],
button.step {
  text-align: center;
  background-color: #fc3;
  color: #002f49;
  cursor: pointer;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #dfb432;
  padding: 8px 15px;
  margin-top: 2rem;
  line-height: 1.5rem; }

@media only screen and (min-width: 768px) {
  input[type='submit'],
  button[type='submit'] {
    width: 60%; } }
input[type='submit']:hover,
button[type='submit']:hover {
  outline: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
input[type='submit']:active,
button[type='submit']:active {
  outline: 0;
  box-shadow: 0 1px #dfb432; }

button[type="submit"] {
  width: 100%; }
  button[type="submit"] i {
    animation: name duration timing-function delay iteration-count direction fill-mode; }

textarea {
  border: 1px dashed #002f49;
  margin-top: 10px;
  overflow: auto;
  resize: vertical; }

textarea#msg {
  height: 140px; }

/* Transition styling of labels*/
input[type="email"]:focus ~ label,
input[type="email"]:valid ~ label,
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label,
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
.input-has-value ~ label,
label.moved {
  top: -10px;
  color: #002f49;
  font-size: 0.8rem; }

label {
  display: block;
  position: absolute;
  top: 15px;
  cursor: text;
  transition: top 0.5s;
  text-transform: uppercase;
  color: #8b9ba8; }
  label.fixed {
    top: -15px;
    color: #002f49;
    font-size: 0.8rem; }

label[for="file"] {
  transform: none;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #002f49;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 0; }

label[for="file"] i {
  font-size: 1.5rem; }

#output-upload img {
  width: 80%; }

#output-upload .remove-picture {
  display: absolute;
  top: 40%;
  left: 35%;
  font-size: 3rem;
  cursor: pointer; }

#output-upload .remove-picture:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s; }

button.step {
  width: 100px;
  height: 100px;
  margin-right: 30px; }
  button.step:hover {
    outline: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  button.step:active {
    outline: 0;
    box-shadow: 0 1px #dfb432; }

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 2px solid #fc3;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 1px #d2d2d2;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 0 5px; }
  header .left-navbar {
    height: 40px; }
    header .left-navbar img {
      width: 50px; }
  header a {
    color: #002f49; }

body {
  right: 0;
  position: absolute;
  transition: right 0.5s ease 0s; }

.body-left {
  right: 40%;
  transition: right 0.5s ease 0s; }
  @media only screen and (min-width: 768px) {
    .body-left {
      right: 20%; } }
  .body-left .collapse-navbar {
    width: 40%; }

.collapse-navbar {
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s; }
  @media only screen and (min-width: 768px) {
    .collapse-navbar {
      width: 20%;
      right: -20%; } }
  .collapse-navbar .menu-item {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    padding-right: 0px;
    border-top: 0;
    margin-top: 0;
    -webkit-box-shadow: inset 3px 0px 10px -5px #888888;
    box-shadow: inset 3px 0px 10px -5px #888888; }
    .collapse-navbar .menu-item-icon {
      width: 50px;
      margin-right: 20px; }
    .collapse-navbar .menu-item:hover {
      background-color: #DEE2E5;
      cursor: pointer; }
    .collapse-navbar .menu-item:hover a i, .collapse-navbar .menu-item:hover a p {
      color: #002f49; }
  .collapse-navbar a {
    display: flex;
    margin-left: 20px;
    align-items: center; }
    .collapse-navbar a i {
      margin-right: 20px; }
    .collapse-navbar a p {
      display: inline-block;
      text-transform: uppercase;
      color: #A9B7C0;
      font-size: 11px;
      font-weight: 400;
      margin: 0; }

table {
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #002f49;
  margin-bottom: 50px;
  padding: 10px; }
  @media only screen and (min-width: 768px) {
    table {
      width: 100%;
      text-align: right; } }

table > thead > tr > th {
  vertical-align: middle; }

td, th {
  vertical-align: middle !important;
  padding: 10px; }
  @media only screen and (min-width: 768px) {
    td, th {
      font-size: 1.2em; } }

td {
  padding-top: 0px; }

th {
  padding-bottom: 0px; }

td:nth-child(1) {
  font-weight: bold; }

@keyframes slideIn {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 60px;
    opacity: 1; } }
.flash {
  right: 60px;
  height: 60px;
  align-items: center;
  color: white;
  font-weight: 200;
  justify-content: center;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  position: relative;
  z-index: 50;
  border-radius: 3px;
  display: flex;
  padding: 10px;
  text-align: center;
  animation: slideIn .3s linear; }
  .flash__remove {
    background: none;
    border: 0; }
    .flash__remove:hover {
      color: #fc3; }
  .flash:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    border-radius: 3px; }
  .flash--success {
    background: rgba(81, 163, 81, 0.95); }
  .flash--error {
    background: rgba(255, 0, 0, 0.8); }
  .flash--info {
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%); }
  .flash p {
    margin: 0; }

.flash-messages {
  position: absolute;
  right: -60px;
  width: 100%;
  height: 10px;
  top: 0px; }

* {
  font-family: "ABeeZee", sans-serif;
  box-sizing: border-box; }

.wrapper {
  min-height: 100vh;
  width: 100vw; }

.wrapper.fixed {
  height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.title-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100px;
  border-radius: 0 0 0 0;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 1px #d2d2d2;
  background: #fafafa;
  color: #002f49;
  width: 100%; }

.content-tile {
  width: 100%;
  border-radius: 0 0 0 0;
  background: #edeff1;
  padding: 20px;
  position: relative;
  height: 80%;
  color: white; }

@media only screen and (min-width: 768px) {
  .inner {
    width: 60%;
    margin-left: auto;
    margin-right: auto; } }

h1 {
  margin: 0;
  color: #002f49; }

h2 {
  color: #002f49;
  margin: 0;
  font-size: 1.5em; }

form {
  width: 95%;
  margin-left: auto; }

form > div {
  margin-bottom: 1.8rem;
  position: relative;
  overflow: visible; }

form > div i {
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  left: -35px;
  color: #002f49; }

div.tooltip-container {
  left: 100%;
  position: absolute;
  display: inline-block;
  top: 0; }

span.tooltip {
  display: none;
  position: absolute;
  bottom: 0px;
  left: -70px;
  width: 100px;
  word-wrap: break-word;
  font-size: 0.8em;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  text-align: center; }

i.tooltip {
  cursor: pointer; }

i.tooltip-arrow {
  display: none;
  color: rgba(0, 0, 0, 0.7);
  width: 0;
  height: 0;
  border-top: 10px solid;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: 0;
  left: -37px; }

.login-header {
  color: #002f49;
  font-size: 17px;
  font-weight: 300;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%; }
  .login-header img {
    height: 65%;
    vertical-align: middle;
    position: relative;
    z-index: 2; }

.login-arrow {
  background-color: #fc3;
  width: 70%;
  height: 110px;
  position: relative;
  margin-top: -70px;
  z-index: 101; }
  .login-arrow-text {
    text-align: right;
    position: relative;
    color: #002744;
    margin-top: 15px;
    height: 100%;
    line-height: 225%;
    display: flex;
    align-items: center; }
    .login-arrow-text h1 {
      font-size: 8vmin;
      font-weight: 200;
      margin-left: 7px; }
  .login-arrow-right {
    width: 0;
    height: 0;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid #fc3;
    position: absolute;
    top: 0;
    left: 100%; }

.login-field {
  height: 70%;
  width: 100%;
  background-color: #edeff1;
  padding: 40px; }
  .login-field form {
    width: 100%; }

.wrapper.fixed .login-field {
  margin-top: -55px;
  padding-top: 100px; }

section {
  display: none; }

section.active {
  display: block; }

@media only screen and (min-width: 768px) {
  #pcf-1,
  #pcf-2,
  #pcf-margin,
  #pcf-volume {
    text-align: center; } }

#pcf-2,
#pcf-margin,
#pcf-volume {
  margin-top: 30px; }

@media only screen and (min-width: 768px) {
  #pcf-margin form,
  #pcf-volume form {
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }

#pcf-roi {
  display: flex; }

#roi-12,
#roi-24,
#roi-36 {
  width: 33%; }

#roi-12 p,
#roi-24 p,
#roi-36 p {
  text-align: right;
  width: 60%;
  margin: 0 auto; }

.back-arrow {
  position: absolute;
  top: 20px; }
  @media only screen and (min-width: 768px) {
    .back-arrow {
      left: 20px; } }
  .back-arrow i {
    font-size: 2em;
    color: #002f49;
    cursor: pointer;
    display: none; }
    @media only screen and (min-width: 768px) {
      .back-arrow i {
        font-size: 3em; } }

.account-container {
  background: white;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 1px #d2d2d2; }
  .account-container .account_name {
    font-size: 1.5em;
    color: #002f49;
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    cursor: pointer; }
  .account-container .count {
    width: 20px;
    display: inline-block;
    background: #fc3;
    text-align: center;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #dfb432;
    font-weight: lighter;
    font-size: 0.8em;
    vertical-align: top; }

.opp-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer; }
  .opp-container:nth-of-type(1) {
    cursor: initial; }
    .opp-container:nth-of-type(1) p {
      font-weight: normal; }
  .opp-container-row {
    display: flex;
    width: 100%; }
  .opp-container-historic {
    display: none;
    width: 100%; }
    .opp-container-historic .opp-container-row p {
      color: rgba(0, 0, 0, 0.5); }
  .opp-container.open > .opp-container-historic {
    display: block; }
  .opp-container p {
    color: #002f49;
    margin: 0;
    font-weight: lighter;
    font-size: 0.8em;
    align-self: center; }
  .opp-container .btn {
    margin-top: 0;
    padding: 1px 7px 2px;
    font-size: 0.7em;
    margin-left: 2%; }
  .opp-container .name {
    width: 33%; }
  .opp-container .amount {
    width: 17%;
    text-align: right; }
  .opp-container .month {
    width: 10%;
    text-align: right; }
  .opp-container .status {
    width: 60%; }
  .opp-container .weighted_amount {
    width: 18%;
    text-align: right; }
  .opp-container .scotsman {
    width: 10%;
    text-align: right; }

#createpcf > i {
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  left: -35px;
  color: #002f49; }

#createpcf h2 {
  margin-bottom: 20px; }
#createpcf table {
  width: 100%;
  position: relative; }
  #createpcf table th:last-child i {
    font-size: 1.5em;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer; }
  #createpcf table th:nth-child(1) {
    text-align: left; }
  #createpcf table td:nth-child(2) {
    width: 50px; }
  #createpcf table th:nth-child(3) {
    text-align: right; }
  #createpcf table td:nth-child(3) {
    width: 50px;
    text-align: right; }
    #createpcf table td:nth-child(3) input {
      text-align: right; }
  #createpcf table td:nth-child(4) {
    width: 30px;
    padding-bottom: 0; }
    #createpcf table td:nth-child(4) i {
      font-size: 1.2em; }
#createpcf label[for='send_by_email'],
#createpcf label[for='preview_online'] {
  left: 40px;
  top: 22px; }
#createpcf #send_to_email_container {
  display: none; }

label.moved {
  top: -15px; }

/*# sourceMappingURL=style.css.map */
