a {
    text-decoration: none;
    color: $primary-color;
}

.icon {
    color: $primary-color;
    font-size: 2.5em;
}

.icon-outline {
    color: #A9B7C0;
    font-size: 2.5em;

    &:hover {
        color: $primary-color;
    }
}

.btn {
    text-align: center;
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
    border: 1px solid $secondary-darker;
    padding: 8px 15px;
    margin-top: 2rem;
    line-height: 1.5rem;
    display: block;

    &.order {
        background: $succces-color;
        border: none;
        cursor: auto;

        &:hover {
            box-shadow: none;

        }
        
        i {
            color: white;
        }
    }

    &.float {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #002f49;
    }

    @media only screen and (min-width: $break-small){
        width: 60%;
      }
    
    &:hover {
        outline: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    &:active {
        outline: 0;
        box-shadow: 0 1px $secondary-darker;
    }
}


