* {
    font-family: "ABeeZee", sans-serif;
    box-sizing: border-box;
  }

  .wrapper {
    min-height: 100vh;
    width: 100vw;
  }

  .wrapper.fixed {
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
  .container-left {
    width: 30%;
    border-radius: 4px 0 0 4px;
    background: $primary-color;
    padding: 40px 20px;
    text-align: center;
  }
  
  .container-right {
    width: 70%;
    border-radius: 0 4px 4px 0;
    background: $background-color;
    padding: 40px;
  }
  
  .container-right {
    color: white;
  }
  
  h1 {
    margin: 0;
    color: white;
  }
  
  form > div {
    margin-bottom: 1.8rem;
    position: relative;
    overflow: visible;
  }
  
  form > div i {
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    left: -35px;
    color: $primary-color;
  }
  
  