* {
    font-family: "ABeeZee", sans-serif;
    box-sizing: border-box;
  }

  .wrapper {
    min-height: 100vh;
    width: 100vw;
  }

  .wrapper.fixed {
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .title-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100px;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1px 1px #d2d2d2;
    background: #fafafa;
    color: #002f49;
    width: 100%;
  }
  
  .content-tile {
    width: 100%;
    border-radius: 0 0 0 0;
    background: $background-color;
    padding: 40px;
    position: relative;
    height: 80%;
    
  }
  
  .content-tile {
    color: white;
  }
  
  h1 {
    margin: 0;
    color: $primary-color;
  }
  
  form > div {
    margin-bottom: 1.8rem;
    position: relative;
    overflow: visible;
  }
  
  form > div i {
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    left: -35px;
    color: $primary-color;
  }

  span.tooltip {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 80%;
    width: 100px;
    word-wrap: break-word;
    font-size: 0.8em;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    color: white;
    border-bottom-color: rgba(0,0,0,0.7);
    text-align: center;
  }

  i.tooltip {
    left: 90%;
    cursor: pointer;
  }
  
  i.tooltip-arrow {
    display: none;
    color: rgba(0,0,0,0.7);
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 89%;
  }
  