* {
    font-family: "ABeeZee", sans-serif;
    box-sizing: border-box;
  }

  .wrapper {
    min-height: 100vh;
    width: 100vw;
  }

  .wrapper.fixed {
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .title-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100px;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1px 1px #d2d2d2;
    background: #fafafa;
    color: #002f49;
    width: 100%;
  }
  
  .content-tile {
    width: 100%;
    border-radius: 0 4px 4px 0;
    background: $background-color;
    padding: 40px;
    position: relative;
  }
  
  .content-tile {
    color: white;
  }
  
  h1 {
    margin: 0;
    color: white;
  }
  
  form > div {
    margin-bottom: 1.8rem;
    position: relative;
    overflow: visible;
  }
  
  form > div i {
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    left: -35px;
    color: $primary-color;
  }
  
  