input,
textarea {
  width: 100%;
  color: $primary-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: transparent !important;
  -webkit-text-fill-color: $primary-color;
  -webkit-box-shadow: 0 0 0px 1000px #edeff1 inset !important;
  box-shadow: 0 0 0px 1000px #edeff1 inset !important;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea {
  outline: none;
  border: none;
  background: inherit;
  border-bottom: 1px solid $primary-color;
  line-height: 1.5rem;
  padding: 10px 0 10px 20px;
  font-size: 0.9rem;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  text-align: center;
  background-color: $secondary-color;
  color: $primary-color;
  cursor: pointer;
  border-radius: 3px;
  outline: 0;
  border: 1px solid $secondary-darker;
  padding: 8px 15px;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  outline: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:active {
  outline: 0;
  box-shadow: 0 1px $secondary-darker;
}

textarea {
  border: 1px dashed $primary-color;
  margin-top: 10px;
  overflow: auto;
}

/* Transition styling of labels*/
input[type="email"]:focus ~ label,
input[type="email"]:valid ~ label,
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
.input-has-value ~ label {
  top: -10px;
  color: $primary-color;
  font-size: 0.8rem;
}

label {
  display: block;
  position: absolute;
  top: 15px;
  cursor: text;
  transition: top 0.5s;
  text-transform: uppercase;
  padding-left: 20px;
  color: #8b9ba8;
}

label[for="file"] {
  transform: none;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed $primary-color;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 0;
}

label[for="file"] i {
  font-size: 1.5rem;
}

#output-upload img {
  width: 80%;
}

#output-upload .remove-picture {
  display: absolute;
  top: 40%;
  left: 35%;
  font-size: 3rem;
  cursor: pointer;
}

#output-upload .remove-picture:hover {
  @include prefix(transform, scale(1.5), webkit ms);
  transition: 0.5s;
}
