@media only screen and (max-width: 640px) {

    .container-left {
        
    }

    .content-tile {
        height: 80%;
        border-radius: 0 0 0 0;
    }

    h1 {
        color: #002f49;
    }

    label[for=file] {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }

    textarea #msg {
        height: 140px;
    }

    input[type=submit]{
        line-height: 1.5rem;
    }
};
