@media only screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .container-left,
    .container-right {
        width: 100%;
    }
    .container-left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100px;
        border-radius: 0 0 0 0;
        border-bottom: 1px solid #d2d2d2;
        box-shadow: 0 1px 1px #d2d2d2;
        background: #fafafa;
        color: #002f49;
    }

    .container-right {
        height: 80%;
        border-radius: 0 0 0 0;
    }

    h1 {
        color: #002f49;
    }

    label[for=file] {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }

    textarea #msg {
        height: 140px;
    }

    input[type=submit]{
        line-height: 1.5rem;
    }

    .login-field {
        width: 80%;
    }
};
