section {
    display: none
}

section.active {
    display: block;
}

#pcf-1,
#pcf-2,
#pcf-margin,
#pcf-volume {
    @media only screen and (min-width: $break-small){
        text-align: center;
    }
}

#pcf-2,
#pcf-margin,
#pcf-volume {
    margin-top: 30px;
}

#pcf-margin form,
#pcf-volume form {
    @media only screen and (min-width: $break-small){
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#pcf-roi {
    display: flex;
}

#roi-12,
#roi-24,
#roi-36 {
    width: 33%;
}

#roi-12 p,
#roi-24 p,
#roi-36 p {
    text-align: right;
    width: 60%;
    margin: 0 auto;
}

.roi-numbers {
    color: $primary-color;
}

.back-arrow {
    position: absolute;
    top: 20px;

    @media only screen and (min-width: $break-small) {
        left: 20px;
    }

    i {
        font-size: 2em;
        color: $primary-color;
        cursor: pointer;
        display: none;

        @media only screen and (min-width: $break-small){
            font-size: 3em;
        }
    }
}